asgiref==3.3.4
certifi==2024.7.4
charset-normalizer==3.3.2
distlib==0.3.8
Django==3.2.4
filelock==3.16.0
html5lib==1.1
idna==3.8
ldap3==2.9.1
paho-mqtt==1.5.1
pipenv==2024.0.1
platformdirs==4.3.1
psycopg2-binary==2.9.9
pyasn1==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2021.1
pywatchman==2.0.0
requests==2.32.3
setuptools==74.1.2
six==1.16.0
sqlparse==0.4.1
urllib3==2.2.2
virtualenv==20.26.4
webencodings==0.5.1
python-dotenv==1.0.0
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.5/libexec/wheel-0.44.0-py3-none-any.whl#sha256=8d8a590e50bda8422000110e90bc730ebfcd8363d2de80793ac819b7f252e97d
